@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@font-face {
  font-family: 'Hatto';
  src: url('/src/assets/fonts/Hatto-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Hatto';
  src: url('/src/assets/fonts/Hatto-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@theme {
  /*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
  /* Generated accent color palettes. */
  --color-accent-200: #e6bfa8;
  --color-accent-600: #803d00;
  --color-accent-900: #512400;
  --color-accent-950: #381b07;
  /* Generated gray color palettes. */
  --color-gray-100: #fff5e3;
  --color-gray-200: #ffebc7;
  --color-gray-300: #d8bf8e; /* <p> color */
  --color-gray-400: #b28300;
  --color-gray-500: #715200;
  --color-gray-700: #4a3400;
  --color-gray-800: #342400;
  --color-gray-900: #221600;

  /* Specker's colors */
  --hearth-gray-1: oklch(0.6402 0.0412 90.62);
  --hearth-gray-2: oklch(0.5583 0.0291 82.01);
  --hearth-orange-0: oklch(0.9768 0.0126 86.83);
  --hearth-orange-1: oklch(0.9265 0.0782 77.64);
  --hearth-orange-2: oklch(0.8765 0.1122 83.33);
  --hearth-orange-3: oklch(0.8575 0.143 81.71);
  --hearth-orange-4: oklch(0.8354 0.1621 78.57);
  --hearth-brown-0: oklch(0.991 0.0271 85.67);
  --hearth-brown-1: oklch(0.791 0.0666 84.35);
  --hearth-brown-2: oklch(0.5168 0.0483 67.57);
  --hearth-brown-3: oklch(0.4332 0.0513 51.64);

  --color-stone-600: oklch(0.4063 0.02 142.43);
  --color-stone-500: oklch(0.4474 0.0228 151.71);
  --color-stone-400: oklch(0.5067 0.0322 164.45);
  /* The text colors are all based on shades of gray */

  --color-gray-600: var(--color-stone-600);
  --color-gray-500: var(--color-stone-500);
  --color-misc-error: #7a6660;
  --font-hatto: 'Hatto';
}

/* Theme-specific color overrides */
:root[data-theme='light'] {
  --color-stone-900: oklch(0.282 0.0146 118.78);
  --color-stone-800: oklch(0.3108 0.0178 121.02);
  --color-stone-700: oklch(0.3591 0.0171 120.83);
  --color-gray-900: var(--color-stone-900);
  --color-gray-800: var(--color-stone-800);
  --color-gray-700: var(--color-stone-700);
  --color-gray-300: var(--hearth-gray-2);
  --color-white: var(--hearth-orange-0); /* Textboxs in-game */
}

:root[data-theme='dark'] {
  --color-white: var(--hearth-brown-0);
  --color-stone-900: var(--hearth-brown-3);
  --color-stone-800: var(--hearth-brown-2);
  --color-stone-700: var(--hearth-brown-1);
  --color-stone-600: var(--hearth-brown-0);
}

body {
  font-family: 'Hatto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-hatto);
  @apply text-shadow-xs text-shadow-stone-700/15;
}
/* Hero styling */
.hero img {
  image-rendering: optimizeQuality;
  mask-image: linear-gradient(
    to bottom,
    var(--hearth-brown-3) 80%,
    transparent 100%
  );
  filter: drop-shadow(0.25rem 0.5rem 6px var(--hearth-brown-3));
}
.hearth-text-outline {
  -webkit-text-stroke: 0.25px var(--hearth-gray-2);
}
.pokemon-text-outline {
  -webkit-text-stroke: 0.5px var(--hearth-orange-1);
}
/* End hero styling */
/* https://developer.mozilla.org/en-US/docs/Web/API/View_Transition_API/Using#customizing_your_animations */

@view-transition {
  navigation: auto;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(26px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-26px);
  }
}
.main-pane {
  view-transition-name: main-pane;
  will-change: transform, opacity;
}
::view-transition-old(main-pane) {
  animation: 52ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    143ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(main-pane) {
  animation: 130ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    260ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
/*header elem will jitter without this*/
::view-transition-group(header) {
  animation: none;
}
